.playlist-card {
    width: 200px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 22px;
    }
    
    .playlist-name {
        font-size: 18px;
        color: #191414;
        margin-bottom: 9px;
    }

    p {
        font-size: 14px;
        color: #646464;
    }
}
