.playlist-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 270px;
    width: 81.5vw;
    height: 220px;
    color: white;
    justify-content: space-between;
    // background-image: url(http://api.sprintt.co/spotify/images/world/w_10.jpg);
    background-color: rgba(0, 0, 0, 0.474);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .left-header {
        flex-direction: column;
        margin-left: 109px;
        margin-top: 88px;
        font-size: 36px;
        & > :last-child {
            font-size: 18px;
        }
    }
    .right-header {
        flex-direction: column;
        font-size: 28px;
        margin-right: 254px;
        margin-top: 88px;
        & > :last-child {
            font-size: 18px;
        }
    }
    .genre-name{
        text-transform: capitalize;
    }
}
