.song-card {
    z-index: 2;
    align-items: center;
    margin-left: 54px;
    // font-size: 22px;
    font-size: 18px;

    &:hover {
        background-color: rgba(29, 185, 84, 0.2);
        border-radius: 10px;
        .play-btn {
            background-color: none;
            visibility: visible;
        }
    }

        .preview-control{
            visibility: hidden;
            margin-left: 23px;
            
            .play-btn {
            padding-top: 5px;

            }
        }

    .cell {
        padding: 15px 0;
        border-bottom: 0.5px solid #646464;
    }

    .heart-container {
        flex-basis: 77px;
        margin-left: 23px;
        padding: 15px 0;
        border-bottom: 0.5px solid #646464;

        .heart {
            padding-top: 5px;
            width: 20px;
            height: 20px;
        }
    }
    .song-title {
        flex-basis: 450px;
        // flex-basis: 300px;
    }
    .song-artist {
        flex-basis: 270px;
    }
    .song-album {
        flex-basis: 260px;
    }
    .song-date {
        flex-basis: 125px;
        margin-right: 20px;
    }
}
