.genre-page {
    // margin-left: 220px;
    // margin-top: 270px;
    // margin-bottom: 100px;
    // background-color: #f1f7f1;
    // height: 100%;
    // width: 100%;

    .genre-playlists {
        display: flex;
        margin-right: 10px;

        .top-section{
            margin-top: 70px;
        }
    }
}
