.main-progress-bar {
    position: fixed;

    bottom: 0;
    margin-bottom: 18px;
    margin-left: 438px;
    width: 810px;
    display: flex;
    align-items: center;
    
    p {
        // position: fixed;
        min-width: 50px;
        margin-left: 30px;
        font-size: 18px;
        margin-right: 10px;
        &:last-child {
            margin-left: 10px;
            margin-right: 0px;
        }
    }
    
    progress {
        // position: fixed;
        -webkit-appearance: none;
        width: 623px;
        height: 5px;
        border-radius: 11px;
        &::-webkit-progress-bar {
            background-color: #c4c4c4;
            border-radius: 11px;
        }
        &::-webkit-progress-value {
            border-radius: 11px;
            background: #191414;
            transition: background 3s ease-in;

        }
    }
}
