.volume-bar {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    margin-right: 100px;
    margin-bottom: 36px;
    z-index: 3;
    align-items: center;
    .volume-container{
        margin-top: 5px;
        .volume-icon {
            margin-right: 10px;
            height: 20px;
            width: 18.5px;
        }
        
    }
    progress {
        width: 100px;
        -webkit-appearance: none;
        height: 6px;
        border-radius: 11px;
        // margin-left: 10px;
        &::-webkit-progress-bar {
            background-color: #c4c4c4;
            border-radius: 11px;
        }
        &::-webkit-progress-value {
            border-radius: 11px;
            background: #191414;
        }
    }
}
